* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
  /* overflow-x: hidden; */
}

:root {
  --h1-font: 3rem;
  --h2-font: 2.9rem;
  --p-font: 1.1rem;

  --bg-color: #121b25;
  --text-color: #ffffff;
  --main-color: #1aa090;
  --other-color: #d6d6d6;
}

body {
  overflow-x: hidden;
  /* background-color: var(--bg-color); */
}

header {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  color: #101821;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  justify-content: space-between;
  padding: 7px 5% 9.5px 5%;
  transition: all 0.5s ease;
}

.logo img {
  /* background-color: #1aa090; */
  height: auto;
  width: 50%;
  padding: -100px;
}

.h-btn1 {
  text-shadow: 2px 4px 4px #101821;
  color: var(--other-color);
  font-weight: 500;
  font-size: 18px;
}

.h-btn2:hover {
  transform: translate(-7px);
}

.navbar {
  top: 3px;
  font-size: 12px;
  position: relative;
  right: 24px;
  color: #101821;
  display: flex;
}
/* 
.navbar {
  color: #101821;
  display: flex;
} */

.propmodal {
  display: absolute;
  height: 100%;
  width: 100%;
  background-color: beige;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.drop {
  margin-left: -10px;
  color: #fff;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 20%;
  background: #121b25;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 110px;
  z-index: 1;
}
.dropdown-content a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #333;
}

.h-btn3 {
  display: inline-block;
  padding: 10px 18px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  transition: all 0.4s ease;
}
/* 
.navbar a {
  padding: 10px 25px;
  font-size: var(--p-font);
  font-weight: 400;
  text-shadow: 2px 4px 4px #101821;

  /* color: #101821; */
/* font-weight: 800; */
/* color: var(--other-color);
} */

.navbar a {
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 2px 4px 4px #101821;
  text-decoration: none;
  /* color: #101821; */
  /* font-weight: 800; */
  color: var(--other-color);
}

/* .header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  letter-spacing: 2px;
  max-width: 480px;
  margin-left: 31%;
  font-weight: bold;
  top: 0;
  left: 0;
  z-index: 99;
} */

/* a {
  display: flex;
  margin-top: 24px;
  text-decoration: none;
  color: black;
  font-size: 10px;
  align-items: center;
  margin-bottom: -10px;
  text-transform: capitalize;
} */

.header a:hover {
  color: red;
  transition: 0.4s;
}

a.currentPage {
  color: red;
}

hr {
  position: absolute;
  /* top: 99%; */
  bottom: -18%;
  color: black;
  background-color: grey;
  height: 1px;
  width: 100%;
  margin-bottom: 80px;
}

.title {
  position: absolute;
  top: 15%;
  left: 46%;
  display: flex;
  align-items: center;
  padding-bottom: -30px;
  font-size: 20px;
  margin-top: 57px;
  /* margin-left: 46%; */
  margin-right: 46%;
  text-decoration: underline;
}

.content {
  position: absolute;
  /* background-color: #1aa090; */
  /* margin-left: 23%; */
  width: 60%;
  top: 39%;
  left: 23%;
  /* height: 5%; */
  /* margin-top: 80px; */
  font-size: 20px;
  /* line-height: 2px; */
  padding-bottom: 25px;
  /* margin-right: 18%; */
  border-bottom: 1px solid grey;
}

.content p {
  /* position: absolute; */
  /* top: 100%; */
  /* height: 5%; */
  width: 100%;
  line-height: 1.5;
  /* min-width: 100%; */
  /* background-color: #1aa090; */

  display: flex;
  font-size: 17px;
}

.content .registerLink {
  /* margin-top: -9px; */
  display: flex;
  /* margin-left: 6px; */
  font-size: 17px;
  color: red;
  text-transform: lowercase;
}

.content p a:hover {
  color: black;
  transition: 0.4s;
}

.newsletter {
  position: absolute;
  top: 57%;
  left: 23%;
  /* width: 100%; */
  /* gap: 200px; */
  /* margin-top: 40px; */
  /* margin-left: 23%; */
  /* line-height: 4px; */
}

.newsletter h3 {
  margin-bottom: 10px;
  /* position: absolute; */
  /* bottom: 20%; */
  font-size: 18px;
}

.wrongMail {
  margin-top: -25px;
  margin-bottom: 60px;
  color: red;
  font-weight: bold;
}

.wrongPass {
  margin-top: -25px;
  margin-bottom: 60px;
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}

.newsletter #mail {
  height: 32px;
  width: 120%;
  border: 1px;
  background-color: rgb(230, 222, 222);
  margin-bottom: 23px;
}

.newsletter #password {
  height: 32px;
  /* margin-top: ; */
  width: 120%;
  border: 1px;
  background-color: rgb(230, 222, 222);
  margin-bottom: 40px;
}

.login {
  background-color: var(--main-color);
  /* border-radius: 16px; */
  margin-top: 23px;
  color: white;
  width: 100px;
  font-size: 15px;
  height: 35px;
  letter-spacing: 2px;
  margin-bottom: 20%;
}

.footer {
  position: absolute;
  bottom: -20%;
  /* border-top: 1px solid grey; */
  left: 45%;
  /* width: 100%; */
  height: 10px;
  /* background-color: #1aa090; */
  padding-bottom: 30px;
  margin-bottom: 50px;
  /* margin-left: 45%; */
  font-size: 14px;
  color: grey;
  margin-top: 30px;
  /* margin-bottom: 100px; */
}

h4 {
  color: red;
}

.incorrectemailorpassword {
  position: absolute;
  top: 55%;
  color: red;
  font-weight: bold;
}

@media (max-width: 1170px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #101821;
    padding: 20px 15px;
    gap: 0.5rem;
    text-align: left;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    font-size: 20px;
    padding: 15px;
  }

  .navbar.open {
    right: 0;
  }

  :root {
    --h1-font: 2rem;
    --h2-font: 2rem;
    --p-font: 1rem;
  }
  .home {
    grid-template-columns: 1fr;
    gap: 1rem;
    height: 120vh;
  }
  .home-text {
    order: 2;
    width: 100%;
    max-width: 900px;
  }
  .home-img {
    width: 400px;
    height: 480px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .about {
    grid-template-columns: 1fr;
  }
}
